body {
	background: url(../img/road.jpg) center no-repeat;
	overflow: hidden;
  font-family: 'Exo', sans-serif;
}

canvas {
	background: #fff;
	display: block;
}

ul {
}

li {
  position: relative;
  text-align: left;
  background: yellow;
  padding: 20 0 20 40px;
  left: -10px;
  width: 200px;
  margin: 10 0 10 0;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

li.selected {
  background: yellow;
  width: 300px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

#path {
  position: relative;
  left: -10px;
  text-align: left;
  height: 50px;
  min-width: 100px;
  margin: 10px 0 10px 0;
  padding: 20px 20px 0 0;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

#path span{
  background: green;
  font-size: 30px;
  margin: 2px;
  padding: 10 10 10 10px;

}