body {
	background: url(../img/road.jpg) center no-repeat;
	overflow: hidden;
  font-family: 'Exo', sans-serif;
}

.body-test {
  background: url(../img/night.jpg) center no-repeat;
  background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;
 }

canvas {
	background: #fff;
	display: block;
}

ul {
}

li {
  border-radius: 5px;

  color: #000;
  opacity: 0.6;
  position: relative;
  text-align: left;
  /*cor bloquedo: 53545b*/
  background: #fff;
  padding: 20 20 20 40px;
  left: -15px;
  width: 300px;
  margin: 10 0 10 0;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  font-size: 20;
  /*outline: solid white 1px;*/
}

li.selected {
  opacity: 0.8;
  width: 350px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  outline-width: 2px;
}

li input:last-child {
  position: absolute;
  right: 20px;   /* must be equal to parent's right padding */
  font-size: 40px;
}

li div {
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
}

li span:last-child {
  position: absolute;
  right: 20px;   /* must be equal to parent's right padding */
  font-size: 20px;

}

#path {
  opacity: 0.6;
  position: relative;
  left: -10px;
  text-align: left;
  height: 50px;
  margin: 10px 0 10px 0;
  padding: 20px 20px 0 0;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

#path span{
  border-radius: 3px;
  background: #fff;
  font-size: 20px;
  margin: 2px;
  padding: 10 10 10 10px;

}

#buttondiv {
  width = 100%;
  text-align: center;
  position: fixed;
  bottom: 80;
  height: 100px;
  width: 100%;
}

#button img{

}

#problem {
  border-radius: 5px;

  color: #000;
  opacity: 0.6;
  background: #fff;
  padding: 20 0 20 0px;
  width: 300px;
  margin: 10 0 10 0;

}

b.selected {
  font-size: 150%;
}
