<div class="description">
	Seleccione as funcionalidades que pretende activar.
</div>
<ul title="main">
	<li><div class="has_icon">Seleccionar todos 	<input type="checkbox" value="all">			</div></li>
	<li><div class="has_icon"><img class="icon" src="./img/icons/ac.png">Ar condicionado 	<input type="checkbox" value="ac">		</div></li>
	<li><div class="has_icon"><img class="icon" src="./img/icons/autopilot.png">Piloto automático 	<input type="checkbox" value="autopilot">	</div></li>
	<li><div class="has_icon"><img class="icon" src="./img/icons/radio.png">Rádio 				<input type="checkbox" value="radio">	</div></li>
</ul>