<ul title="menu-testes">
  <li><div>Seleccionar Todos		 <input type="checkbox" value="todos">					</div></li>
  <li><div>Cálculo Matemático		 <input type="checkbox" name="tipo" value="calculo">	</div></li>
  <li><div>Coordenação       		 <input type="checkbox" name="tipo" value="coordenacao"></div></li>
  <li><div>Reflexos          		 <input type="checkbox" name="tipo" value="reflexos">	</div></li>
  <li><div>Quebra Cabeças     		 <input type="checkbox" name="tipo" value="quebra">		</div></li>
</ul>