<div class="description">
	Seleccione com quem pretende partilhar a sua informação.
</div>

<ul title="partilha-config">
	
	<li title="all">
		<div>Alterar todos 	<span class="privacy">Ninguém</span> <img class="next_img" src="./img/switch.png"></div>
	</li>
	
	<li title="name">
		<div>Nome 			<span class="privacy">Ninguém</span> <img class="next_img" src="./img/switch.png"></div>
	</li>
	
	<li title="photo">
		<div>Fotografia 	<span class="privacy">Ninguém</span> <img class="next_img" src="./img/switch.png"></div>
	</li>
	
	<li title="destination">
		<div>Destino 		<span class="privacy">Ninguém</span> <img class="next_img" src="./img/switch.png"></div>
	</li>
</ul>