<ul title="pontos">
	<li><div>Seleccionar todos <input type="checkbox" id="remember_poi"></div> </li>
	<li><div>Casa de banho <input type="checkbox"></div> </li>
	<li><div>Entertenimento <input type="checkbox"></div> </li>
	<li><div>Hotel/Residencial <input type="checkbox"></div> </li>
	<li><div>Multibanco <input type="checkbox"></div> </li>
	<li><div>Restaurante <input type="checkbox"></div> </li>
	<li><div>Saúde <input type="checkbox"></div> </li>
	<li><div>Supermercado <input type="checkbox"></div> </li>

</ul>