<ul title="pontos">
	<li><div>Seleccionar todos 	<input type="checkbox" value="all">	</div> </li>
	<li><div><img class="icon" src="./img/icons/bathroom.png">Casa de banho 		<input type="checkbox" value="bathroom">		</div> </li>
	<li><div><img class="icon" src="./img/icons/entertainment.png">Entertenimento 	<input type="checkbox" value="entertainment">	</div> </li>
	<li><div><img class="icon" src="./img/icons/hotel.png">Hotel/Residencial 	<input type="checkbox" value="hotel">			</div> </li>
	<li><div><img class="icon" src="./img/icons/atm.png">Multibanco 		<input type="checkbox" value="atm">				</div> </li>
	<li><div><img class="icon" src="./img/icons/restaurant.png">Restaurante 		<input type="checkbox" value="restaurant">		</div> </li>
	<li><div><img class="icon" src="./img/icons/health.png">Saúde 				<input type="checkbox" value="health">			</div> </li>
	<li><div><img class="icon" src="./img/icons/shopping.png">Supermercado 		<input type="checkbox" value="supermarket">		</div> </li>
</ul>