<ul title="pontosInteresse">
  <li> <div> <img class="next_img" src="./img/wc.png" height="25" width="25"> Casa de banho <input type="checkbox" id="interestPoints"></li>
  <li> <div> Entretenimento <input type="checkbox" id="interestPoints"> </div> </li>
  <li> <div> Hotel/Residencial <input type="checkbox" id="interestPoints"> </div> </li>
  <li> <div> Multibanco <input type="checkbox" id="interestPoints"> </div> </li>
  <li> <div> Restaurante <input type="checkbox" id="interestPoints"> </div> </li>
  <li> <div> Saúde <input type="checkbox" id="interestPoints"> </div> </li>
  <li> <div> Supermercado <input type="checkbox" id="interestPoints"> </div> </li>
</ul>