<ul title="pontos">
	<li><div>Seleccionar todos 	<input type="checkbox" value="all">				</div> </li>
	<li><div>Casa de banho 		<input type="checkbox" value="bathroom">		</div> </li>
	<li><div>Entertenimento 	<input type="checkbox" value="entertainment">	</div> </li>
	<li><div>Hotel/Residencial 	<input type="checkbox" value="hotel">			</div> </li>
	<li><div>Multibanco 		<input type="checkbox" value="atm">				</div> </li>
	<li><div>Restaurante 		<input type="checkbox" value="restaurant">		</div> </li>
	<li><div>Saúde 				<input type="checkbox" value="health">			</div> </li>
	<li><div>Supermercado 		<input type="checkbox" value="supermarket">		</div> </li>
</ul>