<ul title="testes">
</ul>
<div class="description">

	<div id="problemBefore">O veículo encontra-se bloqueado pois activou os Testes de Aptidão para Condução. Terá que responder correctamente a uma pergunta dentro do limite de tempo para desbloquear o veículo.<br><br>
	Prima qualquer tecla para começar.</div>

	<div id="problemAfter"> Use os botões direccionais para inserir a resposta correcta antes do limite de tempo.

		<div id="equation">81 ÷ 9 = <span id="result"><b id="x00" class="number selected">0</b><b id="0x0" class="number">0</b><b id="00x" class="number">0</b></span><span></span>
		</div>
	</div>
	<div id="testFailed"> Falhou o teste. Não é aconselhada a condução nestas condições. Pressione qualquer tecla para continuar.</div>

	<div id="testPassed"> Passou o teste com sucesso. Pressione qualquer tecla para desbloquear o veículo. </div>
</div>



<div id="timer"><span id="timerNumber">30</span>s</div>