<div class="description">
	Ao executar um teste, o carro ficará bloqueado até que o teste seja passado com sucesso.
	Pode optar por executar o teste agora ou seleccionar um horário onde o teste será activado ao ligar o carro.
</div>
<ul title="main">
	<li title="testes-executar"><div>Executar teste agora <img class="next_img" src="./img/next.png"></div></li>
	<li title="testes-intervalo"><div>Activar por intervalo <img class="next_img" src="./img/next.png"></div> </li>
	<li><div>Não voltar a perguntar <input type="checkbox" value="remember_tests" id="remember_tests"></div> </li>
</ul>